@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    background: rgb(63, 63, 63);
}

.header{
    height: 80px;
    padding-bottom: 10px;
}

.header div{
    padding: 16px 0px;
    margin: 0px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
}

.menu{
    min-height: 50px;
    background: rgb(6, 174, 0);
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.menu h1{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content{
    height:450px;
    background: white;
}

#browser{
    width: 55%;
    height: 450px;
    float: right;
    border: 1px solid black;
}

#editor{
    width: 40%;
    height: 445px;
    resize: none;
    float: left;
    border: 1px solid black;
}

.menu input[type="button"]{
    margin: 5px 0 0 30px;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 113, 46);
}

@media (max-width: 430px){

.content{
    display: flex;
    flex-direction: column;
}

.header div{
    font-size: 2rem;
}
#browser{
    width: 100%;
}
#editor{
    width: 100%;
}
}

@media (max-width: 355px){
    .header{
        height: 110px;
    }
}